<?xml version="1.0" encoding="ISO-8859-1" ?>
<taglib version="2.1"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
web-jsptaglibrary_2_1.xsd">
	<tlib-version>1.0</tlib-version>
	<short-name>mytag</short-name>
	<uri>/WEB-INF/mytaglib.tld</uri>
	<tag>
		<name>login-logout</name>
		<tag-class>tag.CheckLoginTag</tag-class>
		<body-content>empty</body-content>
	</tag>
	
	
</taglib>
